* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

* > a {
  text-decoration: none;
  color: #fff; }

body {
  background: url("bg-pattern.png") repeat;
  background-size: 25%;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 6rem; }

.primary-title {
  color: #fff;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem; }

.text-danger {
  color: #e15f41;
  font-size: 90%; }

.input-error {
  box-shadow: inset 0px 1px 5px #e15f41 !important; }

.input-success {
  box-shadow: inset 0px 1px 5px #27ae60 !important; }

.button-light,
.button-dark,
.button-dark-2,
.button-dark-3,
.button-dark-4 {
  border-radius: 10rem;
  padding: 1.4rem 2rem;
  border: 1px solid #ffda79;
  cursor: pointer;
  font-weight: bold; }
  .button-light:active, .button-light:focus,
  .button-dark:active,
  .button-dark:focus,
  .button-dark-2:active,
  .button-dark-2:focus,
  .button-dark-3:active,
  .button-dark-3:focus,
  .button-dark-4:active,
  .button-dark-4:focus {
    outline: none; }

.button-dark,
.button-dark-2 {
  color: #353535;
  font-weight: 800;
  background-color: #ffda79; }

.button-dark-2 {
  margin-top: 5rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.7rem 6rem; }

.button-dark-3 {
  color: #fff;
  background-color: #353535; }

.button-dark-4 {
  background-color: #e15f41;
  color: #fff; }

.navbar {
  padding: 3rem 5rem;
  display: flex;
  font-size: 1.5rem;
  color: #eee;
  text-transform: uppercase;
  justify-content: space-between; }
  .navbar-title {
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-size: 3.5rem; }
    .navbar-title span {
      color: #ffda79; }
  .navbar-list {
    display: flex;
    list-style: none; }
    .navbar-list li {
      margin-left: 2rem; }

.landing {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  color: #fff;
  max-width: 90rem;
  margin: 0 auto; }
  .landing--title {
    font-size: 11rem;
    margin-top: 5rem;
    letter-spacing: 0.7rem; }
  .landing--sub-title {
    color: #ffda79;
    font-size: 4.4rem;
    letter-spacing: 0.4rem; }
  .landing--app-det {
    font-size: 3rem;
    margin-top: 5rem;
    max-width: 75rem;
    margin: 0 auto;
    font-family: "Caveat", cursive; }

.button-add {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  padding: 2.2rem;
  color: #353535;
  background-color: #ffda79;
  border-radius: 50%; }

.survey-form {
  background-color: #fff;
  padding: 2rem;
  max-width: 50rem;
  margin: 5rem auto;
  font-size: 1.4rem;
  color: #353535;
  border-radius: 1rem; }
  .survey-form--group {
    margin-bottom: 2rem; }
  .survey-form--label {
    font-weight: bold;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6); }
  .survey-form--input {
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    margin-top: .5rem;
    border: none;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2); }
    .survey-form--input::placeholder {
      font-family: "Montserrat", sans-serif; }
  .survey-form--buttons {
    display: flex;
    justify-content: space-between; }

.surveyFormReview {
  background-color: #fff;
  padding: 2rem;
  max-width: 55rem;
  margin: 5rem auto;
  font-size: 1.4rem;
  color: #353535;
  border-radius: 1rem; }
  .surveyFormReview--label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #353535;
    border-bottom: 2px solid #353535;
    display: inline-block;
    margin-bottom: 0.7rem; }
  .surveyFormReview--values {
    margin-bottom: 2rem; }

.surveyList {
  color: #fff;
  font-size: 1.5rem; }
  .surveyList--card {
    max-width: 70rem;
    margin: 3rem auto 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    color: #353535;
    display: flex;
    justify-content: space-between; }
  .surveyList--left {
    width: 78%; }
  .surveyList--title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 0.3rem;
    color: #353535;
    font-weight: lighter; }
  .surveyList--details {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3rem; }
  .surveyList--body {
    margin-bottom: 2rem; }
  .surveyList span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem; }
  .surveyList--chart {
    text-align: right; }
  .surveyList--bottom {
    display: flex;
    justify-content: space-between; }
