$primary-color: #ffda79;
$primary-color-2: #353535;
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
* > a {
	text-decoration: none;
	color: #fff;
}
body {
	background: url("bg-pattern.png") repeat;
	background-size: 25%;
	font-family: "Montserrat", sans-serif;
	padding-bottom: 6rem;
}

///////////////////////////////
///// GENERAL
////////////////

.primary-title {
	color: #fff;
	font-family: "Luckiest Guy", cursive;
	text-align: center;
	font-size: 4rem;
	margin-top: 3rem;
}
.text-danger {
	color: #e15f41;
	font-size: 90%;
}

.input-error{
	box-shadow: inset 0px 1px 5px #e15f41 !important;
}
.input-success{
	box-shadow: inset 0px 1px 5px #27ae60 !important;
}

.button-light,
.button-dark,
.button-dark-2,
.button-dark-3,
.button-dark-4 {
	&:active,
	&:focus {
		outline: none;
	}
	border-radius: 10rem;
	padding: 1.4rem 2rem;
	border: 1px solid $primary-color;
	cursor: pointer;
	font-weight: bold;
}
.button-dark,
.button-dark-2 {
	color: $primary-color-2;
	font-weight: 800;
	background-color: $primary-color;
}
.button-dark-2 {
	margin-top: 5rem;
	border-radius: 0.5rem;
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1.7rem 6rem;
}
.button-dark-3 {
	color: #fff;
	background-color: $primary-color-2;
}
.button-dark-4 {
	background-color: #e15f41;
	color: #fff;
}
////////////////////////////////
///// NAVBAR
//////////////////////

.navbar {
	padding: 3rem 5rem;
	display: flex;
	font-size: 1.5rem;
	color: #eee;
	text-transform: uppercase;
	justify-content: space-between;
	&-title {
		font-weight: 900;
		letter-spacing: 0.5rem;
		font-size: 3.5rem;

		& span {
			color: $primary-color;
		}
	}
	&-list {
		display: flex;
		list-style: none;
		& li {
			margin-left: 2rem;
		}
	}
}

////////////////////////////////
//// LANDING
//////////////////////

.landing {
	font-family: "Luckiest Guy", cursive;
	text-align: center;
	color: #fff;
	max-width: 90rem;
	margin: 0 auto;
	&--title {
		font-size: 11rem;
		margin-top: 5rem;
		letter-spacing: 0.7rem;
	}
	&--sub-title {
		color: $primary-color;
		font-size: 4.4rem;
		letter-spacing: 0.4rem;
	}
	&--app-det {
		font-size: 3rem;
		margin-top: 5rem;
		max-width: 75rem;
		margin: 0 auto;
		font-family: "Caveat", cursive;
	}
}

///////////////////////////////
/////// DASHBOARD
//////////////////

.button-add {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	padding: 2.2rem;
	color: $primary-color-2;
	background-color: $primary-color;
	border-radius: 50%;
}

/////////////////////////
//// FORM
/////////

.survey-form {
	background-color: #fff;
	padding: 2rem;
	max-width: 50rem;
	margin: 5rem auto;
	font-size: 1.4rem;
	color: $primary-color-2;
	border-radius: 1rem;
	&--group {
		margin-bottom: 2rem;
	}
	&--label{
		font-weight: bold;
		font-size: 90%;
		color: rgba(0,0,0, .6);
	}
	&--input {
		width: 100%;
		padding: 1rem 1.5rem;
		box-sizing: border-box;
		margin-top: .5rem;
		border: none;
		box-shadow: inset 0px 1px 5px rgba(0,0,0,.2);
		&::placeholder {
			font-family: "Montserrat", sans-serif;
		}
	}
	&--buttons {
		display: flex;
		justify-content: space-between;
	}
}

///////////////////////////
///// surveyForm Review
////////////////

.surveyFormReview {
	background-color: #fff;
	padding: 2rem;
	max-width: 55rem;
	margin: 5rem auto;
	font-size: 1.4rem;
	color: $primary-color-2;
	border-radius: 1rem;

	&--label {
		font-size: 1.5rem;
		font-weight: bold;
		color: $primary-color-2;
		border-bottom: 2px solid $primary-color-2;
		display: inline-block;
		margin-bottom: 0.7rem;
	}

	&--values {
		margin-bottom: 2rem;
	}
}

//////////////////////////////
//// SurveyList
////////////

.surveyList {
	color: #fff;
	font-size: 1.5rem;

	&--card {
		max-width: 70rem;
		margin: 3rem auto 0 auto;
		background-color: #fff;
		border-radius: 1rem;
		padding: 2rem;
		color: $primary-color-2;
		display: flex;
		justify-content: space-between;
	}
	&--left{
		width: 78%;
	}
	&--title {
		font-size: 2.4rem;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-family: "Luckiest Guy", cursive;
		letter-spacing: 0.3rem;
		color: $primary-color-2;
		font-weight: lighter;
	}

	&--details {
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 3rem;
	}

	&--body {
		margin-bottom: 2rem;
	}
	& span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.3rem;
	}
	&--chart {
		text-align: right;
	}
	&--bottom {
		display: flex;
		justify-content: space-between;
	}
}
